<!DOCTYPE html>
<html>
<head>
	<title>Demo Socket</title>
	<script src="jquery.js"></script>
	<script src="socket.io/socket.io.js">
	</script>
	<script>
		var socket = io("http://localhost:8080");
		$(document).ready(function(){
			alert("hello socket...");
		});</script>
</head>
<body>
	Hello,
</body>
</html>